body,ul,a,li,p,h2,h3,h1,h4{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
#header{
  width: 100%;
  height: 60px;
  background:#168BD8;
  position: fixed;
  z-index: 100;
}
.nav {
    width: 1000px;
    margin: 0 auto;
    height: 60px;
}
.bai-logo{
	display: block;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    background: url(../images/bailogo.png) no-repeat -2px 0px;
}
.bai-fl {
    float: left;
}
.bai-nav-list {
    margin-left: 60px;
}
.bai-nav-item {
    position: relative;
    list-style-type: none;
    display: list-item;
}
.bai-nav-link {
    display: inline-block;
    width: 100px;
    font-size: 15px;
    height: 28px;
    padding-top: 32px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.nav-help a {
    color: #fff;
    font-size: 12px;
    padding: 0 10px;
    text-decoration: none;
}
.nav-help {
    float: right;
    margin-top: 25px;
}
.section .inner{
	width: 100%;
	height: 100%;
	position: relative;
}
.section .inner .center {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.section .inner:nth-child(1) .follow{
    height: 126px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0d71cd url(../images/bg1.jpg);
    z-index: 100;
}
.section:nth-child(3) .inner:nth-child(1) .follow{
    height: 126px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url(../images/bg3.png);
    z-index: 100;
}
.center .flight {
    width: 119px;
    height: 78px;
    background: url(../images/flight.png);
    position: absolute;
    left: 295px;
    top: 136px;
}
.center .launch{
    width: 501px;
    height: 158px;
    background: url(../images/launch.png);
    position: absolute;
    left: 0;
    top: 110px;
}
.active .flight {
    animation: flight 3s ease-in-out infinite;
    -webkit-animation: flight 3s infinite;
    
}
@keyframes flight{
    0% {
       top: 120px;
    }
    40% {
        top: 130px;
    }

    100% {
        top: 120px;
    }
}
.follow .obj{
	position: absolute;
}
.obj1 {
    width: 265px;
    height: 175px;
    background: url(../images/f2.png) no-repeat;
    left: 0px;
    top: -50px;
}
.obj2 {
    width: 63px;
    height: 78px;
    background: url(../images/f.png) no-repeat;
    right: 468px;
    top: -13px;
}
.obj3 {
    width: 260px;
    height: 175px;
     background: url(../images/f1.png) no-repeat;
    right: 50px;
    top: -47px;
}
.active .obj4 {
    width: 242px;
    height: 228px;
   background: url(../images/ship.png) no-repeat;
    left: 281px;
    top: -191px;
   animation: move .5s linear .5s both;
}
.section .top {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.bg-cloud1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background: url(../images/cloud1.png) repeat;
}
.section .middle{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
}
.bg-cloud2 {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: 400px;
    background: url(../images/cloud2.png) repeat;
}
.section .bottom{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.bg-cloud3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: url(../images/cloud3.png) repeat;

}
@keyframes move{
    0%{/*开始值*/
    transform:translateX(0);
    }
    100%{/*结束值*/
    transform:translateX(30px);
    }
}
.section .center {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 200;
}
.btn{
    display: block;
    width: 30px;
    height: 26px;
    background: url(../images/5.png);
    position: absolute;
    left: 485px;
    bottom:42px;
    color: #a6b6c6;
    animation: btnarrow .5s linear .3s infinite;
}
@keyframes btnarrow{
    0% {
        opacity: 1;
        transform-origin: center center;
        transform: translate(-50%,0);
        bottom: 42px;
    }
    50% {
        opacity: .5;
        transform-origin: center center;
        transform: translate(-50%,0);
        bottom: 36px;
    }
    100% {
        opacity: 1;
        transform-origin: center center;
        transform: translate(-50%,0);
        bottom: 42px;
    }
}
.active .bg-cloud1 {
    animation: cloud 100s linear infinite;
    -webkit-animation: cloud 100s linear infinite;
}
.active .bg-cloud2 {
    animation: cloudmove 280s linear infinite;
    -webkit-animation: cloud 280s linear infinite;
}
.active .bg-cloud3 {
    animation: cloudmove 600s linear infinite;
    -webkit-animation: cloud 600s linear infinite;
    }
@keyframes cloud{
    0% {
        background-position: 2000px 0;
    }
    50% {
        background-position: 0 0;
    }

    100% {
        background-position: -2000px 0;
    }
}
.title-area{
     position: absolute;
    top: 160px;
    left: -20px;
    -webkit-transition: all .5s ease-out .3s;
}
.active .title-1 {
    position: absolute;
    top: 160px;
    left: 20px;
}
.active .title-area {
    opacity: 1;
}
.section .title {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Microsoft Yahei';
    color: #fff;
    width: 500px;
}

.section:nth-child(2) .title h3{
    width: 66px;
    height: 126px;
    text-indent: -9999em;
    float: left;
    background: url(../images/lingxian.png) no-repeat;
    animation:yin  2s infinite;
    -webkit-transform-style: preserve-3d;
}
.section:nth-child(3) .title h3{
    width: 66px;
    height: 126px;
    text-indent: -9999em;
    float: left;
    background: url(../images/quanmian.png) no-repeat;
    animation:yin  2s infinite;
    -webkit-transform-style: preserve-3d;
}
.section:nth-child(4) .title h3{
    width: 66px;
    height: 126px;
    text-indent: -9999em;
    float: left;
    background: url(../images/zhuanye.png) no-repeat;
    animation:yin  2s infinite;
    -webkit-transform-style: preserve-3d;
}
.section .title .text {
    margin-left: 86px;
    margin-top: 8px;
}
.section .title .text h4 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 48px;
    margin-bottom: 6px;
}
.section .title .text p {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: .8;
}
@keyframes yin{
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}
.active .brain {
    position: absolute;
    right: 26px;
    opacity: 1;
}
.brain {
    width: 444px;
    height: 427px;
    background: url(../images/brainf.png);
    top: 120px;
    right: 2px;
    position: absolute;
    opacity: 0;
}
.active .allside {
    position: absolute;
    right: 26px;
    opacity: 1;
}
.allside {
    width: 444px;
    height: 330px;
    background: url(../images/allside.png);
    position: absolute;
    top: 120px;
    right: 2px;
    opacity: 0;
}
.stat{
    width: 603px;
    height: 361px;
    background: url(../images/stat.png);
    position: absolute;
    right: 50px;
    top: 160px;
    opacity: 0;
}
.active .stat {
    position: absolute;
    right: 80px;
    opacity: 1;
}
.section .obj{
     -webkit-transition: all .5s ease-out .3s;
}

.section :nth-child(1) .square-1 {
    background:#35b568;
    left: 70px;
    width: 44px;
    height: 44px;
}
.section :nth-child(1) .square-2 {
   background: #4ac179;
    left: 158px;
    width: 88px;
    height: 88px;
}
.section :nth-child(1) .square-3{
  background: #8ae75a;
    left: 246px;
    width: 44px;
    height: 44px;
}

.section :nth-child(1) .square-4 {
   background: #8ae75a;
    right: 328px;
    width: 44px;
    height: 44px;
}

.section :nth-child(1) .square-5 {
   background: #4ac179;
    right: 240px;
    width: 44px;
    height: 44px;
}
.section :nth-child(1) .square{
    position: absolute;
      bottom: 0;
}
.section :nth-child(2) .square-1 {
   background: #33bb9a;
    left: 70px;
    top: 60px;
   
}
.section :nth-child(2) .square{
    position: absolute;
     width: 88px;
    height: 88px;
    display: block;
}
.section :nth-child(2) .square-3 {
   background: #60cf6e;
    left: 158px;
    top: 148px;
   
}
.section :nth-child(2) .square-2 {
   background: #29a2b8;
    left: -18px;
    top: 148px;
   
}
.section :nth-child(2) .square-5 {
   background: #33bb9a;
    left: 246px;
    top: 236px;
   
}
.section :nth-child(2) .square-4 {
  background: #333;
    left: 70px;
    top: 236px;
    width: 176px;
    height: 176px;
    background-image: url(../images/square.jpg)
   
}
.bubble{
    left: -36px;
    top: -56px;
    width: 275px;
    height: 245px;
    background: url(../images/bubble.png)
}
.login{
    height: 300px;
    width: 340px;
    border-radius: 5px;
    background: #4ebffc;
    position: absolute;
    right: 0;
    top: 198px;
}
.login form {
    background: transparent;
    padding-top: 26px;
}
#uc-login .login-info h2 {
    color: #666f8d;
    margin: 0 0 10px;
}
.login-action .submit {
    border: 0;
    background: #ffd850;
    color: #5c4c12;
    border-radius: 2px;
    width: 299px;
    margin-top: 12px;
    width: 270px;
    display: block;
    padding: 0 10px;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    margin-left: 30px;
}
#uc-login .login-info .yu{
    width: 300px;
    height: 35px;
    margin-top: 10px;
    margin-left: 20px;
}
#uc-login .login-info .yan{
    width: 150px;
    height: 35px;
    margin-top: 10px;
    margin-left: 20px;
}


